/* CSS class for .cmt-1 */
.cmt-1 {
    margin-top: 0.25em !important;
}

/* CSS class for .cmt-2 */
.cmt-2 {
    margin-top: 0.5em !important;
}

/* CSS class for .cmt-3 */
.cmt-3 {
    margin-top: 0.75em !important;
}

/* CSS class for .cmt-4 */
.cmt-4 {
    margin-top: 1em !important;
}

/* CSS class for .cmt-5 */
.cmt-5 {
    margin-top: 1.25em !important;
}

/* CSS class for .cmt-6 */
.cmt-6 {
    margin-top: 1.5em !important;
}

/* CSS class for .cmt-7 */
.cmt-7 {
    margin-top: 1.75em !important;
}

/* CSS class for .cmt-8 */
.cmt-8 {
    margin-top: 2em !important;
}

/* CSS class for .cmt-9 */
.cmt-9 {
    margin-top: 2.25em !important;
}

/* CSS class for .cmt-10 */
.cmt-10 {
    margin-top: 2.5em !important;
}

/* CSS class for .cmt-11 */
.cmt-11 {
    margin-top: 2.75em !important;
}

/* CSS class for .cmt-12 */
.cmt-12 {
    margin-top: 3em !important;
}

/* CSS class for .cmt-13 */
.cmt-13 {
    margin-top: 3.25em !important;
}

/* CSS class for .cmt-14 */
.cmt-14 {
    margin-top: 3.5em !important;
}

/* CSS class for .cmt-15 */
.cmt-15 {
    margin-top: 3.75em !important;
}

/* CSS class for .cmt-16 */
.cmt-16 {
    margin-top: 4em !important;
}

.cmb-1 {
    margin-bottom: 0.25em !important;
}

/* CSS class for .cmb-2 */
.cmb-2 {
    margin-bottom: 0.5em !important;
}

/* CSS class for .cmb-3 */
.cmb-3 {
    margin-bottom: 0.75em !important;
}

/* CSS class for .cmb-4 */
.cmb-4 {
    margin-bottom: 1em !important;
}

/* CSS class for .cmb-5 */
.cmb-5 {
    margin-bottom: 1.25em !important;
}

/* CSS class for .cmb-6 */
.cmb-6 {
    margin-bottom: 1.5em !important;
}

/* CSS class for .cmb-7 */
.cmb-7 {
    margin-bottom: 1.75em !important;
}

/* CSS class for .cmb-8 */
.cmb-8 {
    margin-bottom: 2em !important;
}

/* CSS class for .cmb-9 */
.cmb-9 {
    margin-bottom: 2.25em !important;
}

/* CSS class for .cmb-10 */
.cmb-10 {
    margin-bottom: 2.5em !important;
}

/* CSS class for .cmb-11 */
.cmb-11 {
    margin-bottom: 2.75em !important;
}

/* CSS class for .cmb-12 */
.cmb-12 {
    margin-bottom: 3em !important;
}

/* CSS class for .cmb-13 */
.cmb-13 {
    margin-bottom: 3.25em !important;
}

/* CSS class for .cmb-14 */
.cmb-14 {
    margin-bottom: 3.5em !important;
}

/* CSS class for .cmb-15 */
.cmb-15 {
    margin-bottom: 3.75em !important;
}

/* CSS class for .cmb-16 */
.cmb-16 {
    margin-bottom: 4em !important;
}

.cml-1 {
    margin-left: 0.25em !important;
}

/* CSS class for .cml-2 */
.cml-2 {
    margin-left: 0.5em !important;
}

/* CSS class for .cml-3 */
.cml-3 {
    margin-left: 0.75em !important;
}

/* CSS class for .cml-4 */
.cml-4 {
    margin-left: 1em !important;
}

/* CSS class for .cml-5 */
.cml-5 {
    margin-left: 1.25em !important;
}

/* CSS class for .cml-6 */
.cml-6 {
    margin-left: 1.5em !important;
}

/* CSS class for .cml-7 */
.cml-7 {
    margin-left: 1.75em !important;
}

/* CSS class for .cml-8 */
.cml-8 {
    margin-left: 2em !important;
}

/* CSS class for .cml-9 */
.cml-9 {
    margin-left: 2.25em !important;
}

/* CSS class for .cml-10 */
.cml-10 {
    margin-left: 2.5em !important;
}

/* CSS class for .cml-11 */
.cml-11 {
    margin-left: 2.75em !important;
}

/* CSS class for .cml-12 */
.cml-12 {
    margin-left: 3em !important;
}

/* CSS class for .cml-13 */
.cml-13 {
    margin-left: 3.25em !important;
}

/* CSS class for .cml-14 */
.cml-14 {
    margin-left: 3.5em !important;
}

/* CSS class for .cml-15 */
.cml-15 {
    margin-left: 3.75em !important;
}

/* CSS class for .cml-16 */
.cml-16 {
    margin-left: 4em !important;
}

/* CSS class for .cmr-1 */
.cmr-1 {
    margin-right: 0.25em !important;
}

/* CSS class for .cmr-2 */
.cmr-2 {
    margin-right: 0.5em !important;
}

/* CSS class for .cmr-3 */
.cmr-3 {
    margin-right: 0.75em !important;
}

/* CSS class for .cmr-4 */
.cmr-4 {
    margin-right: 1em !important;
}

/* CSS class for .cmr-5 */
.cmr-5 {
    margin-right: 1.25em !important;
}

/* CSS class for .cmr-6 */
.cmr-6 {
    margin-right: 1.5em !important;
}

/* CSS class for .cmr-7 */
.cmr-7 {
    margin-right: 1.75em !important;
}

/* CSS class for .cmr-8 */
.cmr-8 {
    margin-right: 2em !important;
}

/* CSS class for .cmr-9 */
.cmr-9 {
    margin-right: 2.25em !important;
}

/* CSS class for .cmr-10 */
.cmr-10 {
    margin-right: 2.5em !important;
}

/* CSS class for .cmr-11 */
.cmr-11 {
    margin-right: 2.75em !important;
}

/* CSS class for .cmr-12 */
.cmr-12 {
    margin-right: 3em !important;
}

/* CSS class for .cmr-13 */
.cmr-13 {
    margin-right: 3.25em !important;
}

/* CSS class for .cmr-14 */
.cmr-14 {
    margin-right: 3.5em !important;
}

/* CSS class for .cmr-15 */
.cmr-15 {
    margin-right: 3.75em !important;
}

/* CSS class for .cmr-16 */
.cmr-16 {
    margin-right: 4em !important;
}

.cmx-1 {
    margin-left: 0.25em !important;
    margin-right: 0.25em !important;
}

/* CSS class for .cmx-2 */
.cmx-2 {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

/* CSS class for .cmx-3 */
.cmx-3 {
    margin-left: 0.75em !important;
    margin-right: 0.75em !important;
}

/* CSS class for .cmx-4 */
.cmx-4 {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

/* CSS class for .cmx-5 */
.cmx-5 {
    margin-left: 1.25em !important;
    margin-right: 1.25em !important;
}

/* CSS class for .cmx-6 */
.cmx-6 {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
}

/* CSS class for .cmx-7 */
.cmx-7 {
    margin-left: 1.75em !important;
    margin-right: 1.75em !important;
}

/* CSS class for .cmx-8 */
.cmx-8 {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

/* CSS class for .cmx-9 */
.cmx-9 {
    margin-left: 2.25em !important;
    margin-right: 2.25em !important;
}

/* CSS class for .cmx-10 */
.cmx-10 {
    margin-left: 2.5em !important;
    margin-right: 2.5em !important;
}

/* CSS class for .cmx-11 */
.cmx-11 {
    margin-left: 2.75em !important;
    margin-right: 2.75em !important;
}

/* CSS class for .cmx-12 */
.cmx-12 {
    margin-left: 3em !important;
    margin-right: 3em !important;
}

/* CSS class for .cmx-13 */
.cmx-13 {
    margin-left: 3.25em !important;
    margin-right: 3.25em !important;
}

/* CSS class for .cmx-14 */
.cmx-14 {
    margin-left: 3.5em !important;
    margin-right: 3.5em !important;
}

/* CSS class for .cmx-15 */
.cmx-15 {
    margin-left: 3.75em !important;
    margin-right: 3.75em !important;
}

/* CSS class for .cmx-16 */
.cmx-16 {
    margin-left: 4em !important;
    margin-right: 4em !important;
}

.cmy-1 {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

/* CSS class for .cmy-2 */
.cmy-2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

/* CSS class for .cmy-3 */
.cmy-3 {
    margin-top: 0.75em !important;
    margin-bottom: 0.75em !important;
}

/* CSS class for .cmy-4 */
.cmy-4 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

/* CSS class for .cmy-5 */
.cmy-5 {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

/* CSS class for .cmy-6 */
.cmy-6 {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}

/* CSS class for .cmy-7 */
.cmy-7 {
    margin-top: 1.75em !important;
    margin-bottom: 1.75em !important;
}

/* CSS class for .cmy-8 */
.cmy-8 {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

/* CSS class for .cmy-9 */
.cmy-9 {
    margin-top: 2.25em !important;
    margin-bottom: 2.25em !important;
}

/* CSS class for .cmy-10 */
.cmy-10 {
    margin-top: 2.5em !important;
    margin-bottom: 2.5em !important;
}

/* CSS class for .cmy-11 */
.cmy-11 {
    margin-top: 2.75em !important;
    margin-bottom: 2.75em !important;
}

/* CSS class for .cmy-12 */
.cmy-12 {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}

/* CSS class for .cmy-13 */
.cmy-13 {
    margin-top: 3.25em !important;
    margin-bottom: 3.25em !important;
}

/* CSS class for .cmy-14 */
.cmy-14 {
    margin-top: 3.5em !important;
    margin-bottom: 3.5em !important;
}

/* CSS class for .cmy-15 */
.cmy-15 {
    margin-top: 3.75em !important;
    margin-bottom: 3.75em !important;
}

/* CSS class for .cmy-16 */
.cmy-16 {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}

/* CSS class for .cma-1 */
.cma-1 {
    margin: 0.25em !important;
}

/* CSS class for .cma-2 */
.cma-2 {
    margin: 0.5em !important;
}

/* CSS class for .cma-3 */
.cma-3 {
    margin: 0.75em !important;
}

/* CSS class for .cma-4 */
.cma-4 {
    margin: 1em !important;
}

/* CSS class for .cma-5 */
.cma-5 {
    margin: 1.25em !important;
}

/* CSS class for .cma-6 */
.cma-6 {
    margin: 1.5em !important;
}

/* CSS class for .cma-7 */
.cma-7 {
    margin: 1.75em !important;
}

/* CSS class for .cma-8 */
.cma-8 {
    margin: 2em !important;
}

/* CSS class for .cma-9 */
.cma-9 {
    margin: 2.25em !important;
}

/* CSS class for .cma-10 */
.cma-10 {
    margin: 2.5em !important;
}

/* CSS class for .cma-11 */
.cma-11 {
    margin: 2.75em !important;
}

/* CSS class for .cma-12 */
.cma-12 {
    margin: 3em !important;
}

/* CSS class for .cma-13 */
.cma-13 {
    margin: 3.25em !important;
}

/* CSS class for .cma-14 */
.cma-14 {
    margin: 3.5em !important;
}

/* CSS class for .cma-15 */
.cma-15 {
    margin: 3.75em !important;
}

/* CSS class for .cma-16 */
.cma-16 {
    margin: 4em !important;
}

.cml-45 {
    margin-left: 11.25em !important;
}