/* CSS class for .cpt-1 */
.cpt-1 {
    padding-top: 0.25em !important;
}

/* CSS class for .cpt-2 */
.cpt-2 {
    padding-top: 0.5em !important;
}

/* CSS class for .cpt-3 */
.cpt-3 {
    padding-top: 0.75em !important;
}

/* CSS class for .cpt-4 */
.cpt-4 {
    padding-top: 1em !important;
}

/* CSS class for .cpt-5 */
.cpt-5 {
    padding-top: 1.25em !important;
}

/* CSS class for .cpt-6 */
.cpt-6 {
    padding-top: 1.5em !important;
}

/* CSS class for .cpt-7 */
.cpt-7 {
    padding-top: 1.75em !important;
}

/* CSS class for .cpt-8 */
.cpt-8 {
    padding-top: 2em !important;
}

/* CSS class for .cpt-9 */
.cpt-9 {
    padding-top: 2.25em !important;
}

/* CSS class for .cpt-10 */
.cpt-10 {
    padding-top: 2.5em !important;
}

/* CSS class for .cpt-11 */
.cpt-11 {
    padding-top: 2.75em !important;
}

/* CSS class for .cpt-12 */
.cpt-12 {
    padding-top: 3em !important;
}

/* CSS class for .cpt-13 */
.cpt-13 {
    padding-top: 3.25em !important;
}

/* CSS class for .cpt-14 */
.cpt-14 {
    padding-top: 3.5em !important;
}

/* CSS class for .cpt-15 */
.cpt-15 {
    padding-top: 3.75em !important;
}

/* CSS class for .cpt-16 */
.cpt-16 {
    padding-top: 4em !important;
}

.cpb-1 {
    padding-bottom: 0.25em !important;
}

/* CSS class for .cpb-2 */
.cpb-2 {
    padding-bottom: 0.5em !important;
}

/* CSS class for .cpb-3 */
.cpb-3 {
    padding-bottom: 0.75em !important;
}

/* CSS class for .cpb-4 */
.cpb-4 {
    padding-bottom: 1em !important;
}

/* CSS class for .cpb-5 */
.cpb-5 {
    padding-bottom: 1.25em !important;
}

/* CSS class for .cpb-6 */
.cpb-6 {
    padding-bottom: 1.5em !important;
}

/* CSS class for .cpb-7 */
.cpb-7 {
    padding-bottom: 1.75em !important;
}

/* CSS class for .cpb-8 */
.cpb-8 {
    padding-bottom: 2em !important;
}

/* CSS class for .cpb-9 */
.cpb-9 {
    padding-bottom: 2.25em !important;
}

/* CSS class for .cpb-10 */
.cpb-10 {
    padding-bottom: 2.5em !important;
}

/* CSS class for .cpb-11 */
.cpb-11 {
    padding-bottom: 2.75em !important;
}

/* CSS class for .cpb-12 */
.cpb-12 {
    padding-bottom: 3em !important;
}

/* CSS class for .cpb-13 */
.cpb-13 {
    padding-bottom: 3.25em !important;
}

/* CSS class for .cpb-14 */
.cpb-14 {
    padding-bottom: 3.5em !important;
}

/* CSS class for .cpb-15 */
.cpb-15 {
    padding-bottom: 3.75em !important;
}

/* CSS class for .cpb-16 */
.cpb-16 {
    padding-bottom: 4em !important;
}

.cpl-1 {
    padding-left: 0.25em !important;
}

/* CSS class for .cpl-2 */
.cpl-2 {
    padding-left: 0.5em !important;
}

/* CSS class for .cpl-3 */
.cpl-3 {
    padding-left: 0.75em !important;
}

/* CSS class for .cpl-4 */
.cpl-4 {
    padding-left: 1em !important;
}

/* CSS class for .cpl-5 */
.cpl-5 {
    padding-left: 1.25em !important;
}

/* CSS class for .cpl-6 */
.cpl-6 {
    padding-left: 1.5em !important;
}

/* CSS class for .cpl-7 */
.cpl-7 {
    padding-left: 1.75em !important;
}

/* CSS class for .cpl-8 */
.cpl-8 {
    padding-left: 2em !important;
}

/* CSS class for .cpl-9 */
.cpl-9 {
    padding-left: 2.25em !important;
}

/* CSS class for .cpl-10 */
.cpl-10 {
    padding-left: 2.5em !important;
}

/* CSS class for .cpl-11 */
.cpl-11 {
    padding-left: 2.75em !important;
}

/* CSS class for .cpl-12 */
.cpl-12 {
    padding-left: 3em !important;
}

/* CSS class for .cpl-13 */
.cpl-13 {
    padding-left: 3.25em !important;
}

/* CSS class for .cpl-14 */
.cpl-14 {
    padding-left: 3.5em !important;
}

/* CSS class for .cpl-15 */
.cpl-15 {
    padding-left: 3.75em !important;
}

/* CSS class for .cpl-16 */
.cpl-16 {
    padding-left: 4em !important;
}

/* CSS class for .cpr-1 */
.cpr-1 {
    padding-right: 0.25em !important;
}

/* CSS class for .cpr-2 */
.cpr-2 {
    padding-right: 0.5em !important;
}

/* CSS class for .cpr-3 */
.cpr-3 {
    padding-right: 0.75em !important;
}

/* CSS class for .cpr-4 */
.cpr-4 {
    padding-right: 1em !important;
}

/* CSS class for .cpr-5 */
.cpr-5 {
    padding-right: 1.25em !important;
}

/* CSS class for .cpr-6 */
.cpr-6 {
    padding-right: 1.5em !important;
}

/* CSS class for .cpr-7 */
.cpr-7 {
    padding-right: 1.75em !important;
}

/* CSS class for .cpr-8 */
.cpr-8 {
    padding-right: 2em !important;
}

/* CSS class for .cpr-9 */
.cpr-9 {
    padding-right: 2.25em !important;
}

/* CSS class for .cpr-10 */
.cpr-10 {
    padding-right: 2.5em !important;
}

/* CSS class for .cpr-11 */
.cpr-11 {
    padding-right: 2.75em !important;
}

/* CSS class for .cpr-12 */
.cpr-12 {
    padding-right: 3em !important;
}

/* CSS class for .cpr-13 */
.cpr-13 {
    padding-right: 3.25em !important;
}

/* CSS class for .cpr-14 */
.cpr-14 {
    padding-right: 3.5em !important;
}

/* CSS class for .cpr-15 */
.cpr-15 {
    padding-right: 3.75em !important;
}

/* CSS class for .cpr-16 */
.cpr-16 {
    padding-right: 4em !important;
}

.cpx-1 {
    padding-left: 0.25em !important;
    padding-right: 0.25em !important;
}

/* CSS class for .cpx-2 */
.cpx-2 {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

/* CSS class for .cpx-3 */
.cpx-3 {
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
}

/* CSS class for .cpx-4 */
.cpx-4 {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

/* CSS class for .cpx-5 */
.cpx-5 {
    padding-left: 1.25em !important;
    padding-right: 1.25em !important;
}

/* CSS class for .cpx-6 */
.cpx-6 {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

/* CSS class for .cpx-7 */
.cpx-7 {
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
}

/* CSS class for .cpx-8 */
.cpx-8 {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

/* CSS class for .cpx-9 */
.cpx-9 {
    padding-left: 2.25em !important;
    padding-right: 2.25em !important;
}

/* CSS class for .cpx-10 */
.cpx-10 {
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
}

/* CSS class for .cpx-11 */
.cpx-11 {
    padding-left: 2.75em !important;
    padding-right: 2.75em !important;
}

/* CSS class for .cpx-12 */
.cpx-12 {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

/* CSS class for .cpx-13 */
.cpx-13 {
    padding-left: 3.25em !important;
    padding-right: 3.25em !important;
}

/* CSS class for .cpx-14 */
.cpx-14 {
    padding-left: 3.5em !important;
    padding-right: 3.5em !important;
}

/* CSS class for .cpx-15 */
.cpx-15 {
    padding-left: 3.75em !important;
    padding-right: 3.75em !important;
}

/* CSS class for .cpx-16 */
.cpx-16 {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.cpy-1 {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}

/* CSS class for .cpy-2 */
.cpy-2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

/* CSS class for .cpy-3 */
.cpy-3 {
    padding-top: 0.75em !important;
    padding-bottom: 0.75em !important;
}

/* CSS class for .cpy-4 */
.cpy-4 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

/* CSS class for .cpy-5 */
.cpy-5 {
    padding-top: 1.25em !important;
    padding-bottom: 1.25em !important;
}

/* CSS class for .cpy-6 */
.cpy-6 {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}

/* CSS class for .cpy-7 */
.cpy-7 {
    padding-top: 1.75em !important;
    padding-bottom: 1.75em !important;
}

/* CSS class for .cpy-8 */
.cpy-8 {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

/* CSS class for .cpy-9 */
.cpy-9 {
    padding-top: 2.25em !important;
    padding-bottom: 2.25em !important;
}

/* CSS class for .cpy-10 */
.cpy-10 {
    padding-top: 2.5em !important;
    padding-bottom: 2.5em !important;
}

/* CSS class for .cpy-11 */
.cpy-11 {
    padding-top: 2.75em !important;
    padding-bottom: 2.75em !important;
}

/* CSS class for .cpy-12 */
.cpy-12 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

/* CSS class for .cpy-13 */
.cpy-13 {
    padding-top: 3.25em !important;
    padding-bottom: 3.25em !important;
}

/* CSS class for .cpy-14 */
.cpy-14 {
    padding-top: 3.5em !important;
    padding-bottom: 3.5em !important;
}

/* CSS class for .cpy-15 */
.cpy-15 {
    padding-top: 3.75em !important;
    padding-bottom: 3.75em !important;
}

/* CSS class for .cpy-16 */
.cpy-16 {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

/* CSS class for .cpa-1 */
.cpa-1 {
    padding: 0.25em !important;
}

/* CSS class for .cpa-2 */
.cpa-2 {
    padding: 0.5em !important;
}

/* CSS class for .cpa-3 */
.cpa-3 {
    padding: 0.75em !important;
}

/* CSS class for .cpa-4 */
.cpa-4 {
    padding: 1em !important;
}

/* CSS class for .cpa-5 */
.cpa-5 {
    padding: 1.25em !important;
}

/* CSS class for .cpa-6 */
.cpa-6 {
    padding: 1.5em !important;
}

/* CSS class for .cpa-7 */
.cpa-7 {
    padding: 1.75em !important;
}

/* CSS class for .cpa-8 */
.cpa-8 {
    padding: 2em !important;
}

/* CSS class for .cpa-9 */
.cpa-9 {
    padding: 2.25em !important;
}

/* CSS class for .cpa-10 */
.cpa-10 {
    padding: 2.5em !important;
}

/* CSS class for .cpa-11 */
.cpa-11 {
    padding: 2.75em !important;
}

/* CSS class for .cpa-12 */
.cpa-12 {
    padding: 3em !important;
}

/* CSS class for .cpa-13 */
.cpa-13 {
    padding: 3.25em !important;
}

/* CSS class for .cpa-14 */
.cpa-14 {
    padding: 3.5em !important;
}

/* CSS class for .cpa-15 */
.cpa-15 {
    padding: 3.75em !important;
}

/* CSS class for .cpa-16 */
.cpa-16 {
    padding: 4em !important;
}